<div class="header fixed">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex flex-grow-1">
        <!-- <span class="w-100 d-lg-none d-block"></span> -->
        <a class="navbar-brand d-none d-lg-inline-block" routerLink="/">
          <img src="assets/logo.png" alt="logo" />
        </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" routerLink="/">
          <img src="assets/logo.png" alt="logo" />
        </a>
        <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item links">
            <a class="nav-link m-2 menu-item nav-active" routerLink='/' data-toggle="collapse"
              data-target="#myNavbar">Solutions</a>
          </li>
          <li class="nav-item links">
            <a class="nav-link m-2 menu-item nav-active" routerLink='/' data-toggle="collapse"
              data-target="#myNavbar">Pricing</a>
          </li>
          <li class="nav-item links">
            <a class="nav-link m-2 menu-item" routerLink='/' data-toggle="collapse"
              data-target="#myNavbar">Industries</a>
          </li>
          <li class="nav-item links">
            <a class="nav-link m-2 menu-item" routerLink='/' data-toggle="collapse"
              data-target="#myNavbar">Resources</a>
          </li>
          <li class="nav-item links">
            <a class="nav-link m-2 menu-item" routerLink='/' data-toggle="collapse" data-target="#myNavbar">Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 menu-item c free_trail" routerLink='/' data-toggle="collapse"
              data-target="#myNavbar">Free Trail</a>
          </li>
          <li class="nav-item">
            <a class="nav-link m-2 menu-item login" routerLink='/login'>Login</a>
          </li>
          <li class="nav-item">
            <img class="serach m-2 menu-item search" src="assets/search.png" alt="search">
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="why_hippo_section">
  <div class="container text-center">
    <p class="leading">Leading CMMS Software Company</p>
    <h1>
      Why Hippo is the Right Choice
    </h1>
    <p class="desc">

      Recognized as the top maintenance and facility management software by finances Online.
    </p>
    <p class="desc">
      to municipal facilities, Hippo CMMS is revolutionizing how facilities and assets are managed.
    </p>
    <div class="row img_sec">
      <div class=" col-md-3"></div>
      <div class=" col-offset-md-3 col-md-3 right_border">
        <img src="assets/experts_choice.png" alt="experts  choice">
      </div>
      <div class="col-md-3">
        <img src="assets/great_user_experience.png" alt="great user experience">
      </div>
    </div>
    <button class="button" type="button">Speak With a CMMS Expert</button>
  </div>
</div>


<div class="checkout_section">
  <div class="container text-center">
    <h3>Check Out some of our reviews</h3>
    <p class="desc">
      A Eam or CMMS ideal for virtuality any facility- large or smail. From manufacturing plants, hospitals, resorts,
      stadiums<br> to municipal facilities. Hippo CMMS is revolutionizing how facilities and assets are managed
    </p>
  </div>
</div>



<div class="reviews_section">
  <div class="container text-center">
    <div class="row">
      <div class="card_section1">
        <p>
          The way Hippo CMMS allows us to streamline our maintenance requests and work orders has been huge in
          saving us time and manpower to complete our tasks. Our maintenance technicians receive prompt e-mail
          notifications when a work order has been submitted and that allows us to get a jump on things much
          quicker than we normally would.
        </p>
        <h3> Tylar Stauffer</h3>
        <span>Facility Manager, Golden State Warriors</span>
      </div>
      <div class="card_section2">
        <p>
          Hippo has been a great overall experience with our company. We recently implemented this at our food
          production plant and it has met all our needs. It is very user friendly which was a big part in
          making a decision. It helps us meet all FDA standards within regards of record keeping. I would
          recommend this program to another company.
        </p>

        <h3>Brady Cummings</h3>
        <span>Mancinis Bakery</span>
      </div>
    </div>
  </div>
</div>

<div class="freebook_section">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 freebook_section_box">
        <div class="row">
          <div class="col-md-6 free_book_content">
            <p class="free_book_heading"> Free CMMS Basic Book </p>
            <p> CMMS Basic and Beyond: An Impartial Guide to Purchase </p>
            <p> and Implement the Best CMMS for your Business </p>
          </div>
          <div class="col-md-6 free_book_background">
            <p>Free Book
              <img src="assets/free_book.png" alt="Free Book">
            </p>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="award_section">
  <div class="container text-center">
    <h3>Award and Recognition</h3>
    <p class="desc">
      If what you need is the image to have the same dimensions of the div
    </p>
    <p class="desc">
      the same dimensions of the div
    </p>
  </div>
  <div class="container text-center">
    <div class="row award_img_sec">
      <div class="col-md-3">
        <img src="assets/award_1.png" alt="award 1">
      </div>
      <div class="col-md-3">
        <img src="assets/award_2.png" alt="award 2">
      </div>
      <div class="col-md-3">
        <img src="assets/award_3.png" alt="award 3">
      </div>
      <div class="col-md-3">
        <img src="assets/award_4.png" alt="award 4">
      </div>
    </div>
  </div>
</div>

<div class="schedule_pricing_section">
  <div class="container text-center">
    <button class="button schedule_button" type="button">Schedule Demo</button>
    <button class="button pricing_button" type="button">Pricing Options</button>
  </div>
</div>


<div class="footer_section">
  <div class="container">
    <div class="row">
      <div class="">
        <img src="assets/hippo_logo_white.png" alt="hippo white logo">
        <p class="phone_number"><i class="fa fa-phone" aria-hidden="true"></i> 1.866.956.2859</p>
        <button class="button free_trail_button" type="button">Free Trail</button>
        <button class="button watch_demo_button" type="button">Watch Demo</button>

      </div>
      <div class="">
        <h5>Solutions</h5>
        <ul>
          <li>CMMS Software</li>
          <li>Preventive Maintenance</li>
          <li>Equipment Maintenance</li>
          <li>Word Order Software</li>
        </ul>
      </div>
      <div class="">
        <h5>Features</h5>
        <ul>
          <li>Inventry and Parts</li>
          <li>Bar Code Scanning</li>
          <li>Intrective Floor Plans</li>
          <li>Vendor Management</li>
          <li>Maintenance Reports</li>
          <li>Mobile CMMS</li>
        </ul>
      </div>
      <div class="">
        <h5>Resources</h5>
        <ul>
          <li>Resources Center</li>
          <li>Blog</li>
          <li>Price Calculator</li>
          <li>Asset Champion Podcast</li>
          <li>What is Preventive <br> Maintenance</li>
          <li>EAM Software</li>
        </ul>
      </div>
      <div class="">
        <h5>Resources</h5>
        <ul>
          <li>Log into Hippo</li>
          <li>Training</li>
          <li>Contact Support</li>
          <li>Make Payment</li>
        </ul>
        <h5>Why Hippo</h5>
        <ul>
          <li>Product FAQs</li>
          <li>Onboarding</li>
          <li>Testimonials</li>
          <li>About Us</li>
          <li>Carrer</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer_social_section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 social_icon">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
      <div class="col-md-9 policy_content">
        <span>Privacy Policy</span>
        <span class="dot">&#8729;</span>
        <span>Terms & Condition</span>
        <span class="dot">&#8729;</span>
        <span>Cookies Policy</span>
        <span class="dot">&#8729;</span>
        <span>DPA</span>
        <span class="dot">&#8729;</span>
        <span>&copy; 2020 Hippo CMMS</span>
      </div>
    </div>
  </div>
</div>